:root {
    --darkblue: #2b5170;
    --wafer: #e2d3d0;
    --grey: #717378;
    --yellow: #FFF8A7; 
    --white: #F2F0EB;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    flex-wrap: wrap;
}

header {
    background-color: var(--darkblue);
    color: var(--yellow);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    align-items: center;
    border-bottom: var(--wafer);
    border-bottom: 1px;
}

h1 {
    margin: 30px;
    color: var(--yellow);
    font-size: x-large;
}


ul {
    list-style: none;
    align-content: center;
    flex-wrap: wrap;
}

ul li {
    display: inline;
    margin: 5px;
    padding-right: 10px;
    text-decoration: underline;
}

ul li:hover {
    cursor: grab;
}

ul li:active {
    cursor: grabbing;
}


main {
    margin-top: 40px;
}

.container {
    width: 30%;
    /* Set the width of the container */
    height: 600px;
    margin: 1%;
    border: 3px solid var(--darkblue);
    /* Add a border for visualization */
    padding: 4px;
    border-style: dashed;
    float: left;
    position: relative;
    transition-duration: 1s;
}

.container img {
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: 20px 20px 0px 0px rgb(8 8 8 / 10%);
    overflow: hidden;
}

.container:hover {
    transform: rotate(25deg);
    cursor: grab;
}

.container:active {
    transform: scaleY(50%);
    cursor: grabbing;
}

.container h2 {
    position: absolute;
    top: -40px;
    /* Adjust the distance above the container */
    width: 100%;
    /* Make it span the width of the container */
    color: var(--darkblue);
    /* Text color for better visibility */
    text-align: center;
    /* Center text within the h2 */
    margin: 0;
    /* Remove default margin */
    font-size: larger;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container2 {
    width: 30%;
    height: 200px;
    margin: 1%;
    padding: 4px;
    position: relative;
    text-align: center;
    float: left;
    flex-wrap: wrap;
}

.container2 p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: var(--darkblue);
}

.secondtitle {
    justify-content: center;
    display: flex;
}

.second-text {
    text-align: center;
}

.workscontainer {
    display: flex;
    height: 800px;
}

.large-image-container {
    flex:1;
    margin-right: 30px;
    margin: 25px;
    border-style: dashed;
    border-color: var(--darkblue);
    position: relative;
    box-shadow: 20px 20px 0px 0px rgb(8 8 8 / 10%);
}

.large-image {
    width:100%;
    height: 100%;
    display: block;    
}

.small-image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 25px;
    border-style: dashed;
    border-color: var(--darkblue);
    overflow: hidden;
    position: relative;
    box-shadow: 20px 20px 0px 0px rgb(8 8 8 / 10%);
}

.small-image {
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(53, 38, 134, 0.747);
    opacity: 1;
    transition: opacity 0.3s ease;
    align-items: center;
    justify-content: center;
}

.overlay-text {
    font-size: 40px;
    font-family: cursive;
    font-weight: bolder; 
    text-align: center;  
    color: var(--wafer);  
}

.overlay:hover {
    opacity: 0;
}